<div class="profile-container">
    <div class="user-data">
        <p><i class="fas fa-user"></i> {{ user.firstName }} {{ user.lastName }}</p>
        <p><i class="fas fa-envelope"></i> {{ user.email }}</p>
        <h2>Your Birth Data</h2>
        <p><i class="fas fa-city"></i> {{ user.city }}, {{ user.state }}, {{ user.country }}</p>
        <p><i class="fas fa-birthday-cake"></i> {{ user.birthDate }}</p>
        <p><i class="fas fa-clock"></i> {{ user.birthTime }}</p>
        <p><i class="fas fa-map-marker-alt"></i> {{ user.latitude }}, {{ user.longitude }}</p>
    </div>

    <div class="map-container">
        <div leaflet [leafletOptions]="options" [leafletLayers]="layers" (leafletMapReady)="onMapReady($event)">
        </div>
    </div>
    <div id="chart"></div>
</div>