<mat-toolbar color="primary">
    <a mat-button routerLink="/" routerLinkActive="active-link">Home</a>
    <div class="dropdown">
        <button mat-button class="dropdown-button">More</button>
        <div class="dropdown-content">
            <a routerLink="/login" routerLinkActive="active-link">Login</a>
            <a routerLink="/register" routerLinkActive="active-link">Register</a>
            <a routerLink="/profile" routerLinkActive="active-link">Profile</a>
        </div>
    </div>
</mat-toolbar>
