<mat-toolbar color="primary">
    <button mat-button routerLink="/" routerLinkActive="active-link" [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login" routerLinkActive="active-link">Login</button>
        <button mat-menu-item routerLink="/register" routerLinkActive="active-link">Register</button>
        <button mat-menu-item routerLink="/profile" routerLinkActive="active-link">Profile</button>
    </mat-menu>
    <span class="spacer"></span>
    <a mat-button routerLink="/" routerLinkActive="active-link">Home</a>
</mat-toolbar>