.mat-toolbar {
  background-color: #673ab7;  /* Deep Purple 500 */
  position: relative;  /* Add this line */
}

.mat-button {
  color: white;
}

.active-link {
  color: #ffc107;  /* Amber A200 */
}

::ng-deep .mat-menu-panel {
  position: absolute;
  top: 100%;
  right: 0;
}
