.active-link {
  color: #ffc107; /* Amber A200 */
}

.mat-toolbar {
  background-color: #673ab7; /* Deep Purple 500 */
}

.mat-button {
  color: white;
}

/* Add hover effect for main navigation links */
.mat-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Style for Angular Material menu items */
.mat-menu-item {
  color: white;
  background: linear-gradient(to right, #673ab7, #673ab7);
  transition: background-position 1s;
  background-size: 200% 100%;
  background-position: right bottom;
}

.mat-menu-item:hover {
  background-position: left bottom;
}
