<mat-toolbar color="primary">
    <a mat-button routerLink="/" routerLinkActive="active-link">Home</a>
    <button mat-button [matMenuTriggerFor]="menu">More</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login" routerLinkActive="active-link">Login</button>
        <button mat-menu-item routerLink="/register" routerLinkActive="active-link">Register</button>
        <button mat-menu-item routerLink="/profile" routerLinkActive="active-link">Profile</button>
    </mat-menu>
</mat-toolbar>