body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.form-section {
  margin-bottom: 20px;
}

.form-section input {
  box-sizing: border-box;
  max-width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-section h2 {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.form-button:hover {
  background-color: #0069d9;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* frontend/src/app/app.component.css */

.pretty-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.pretty-button:hover {
  background-color: #45a049;
}

.location-info {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.location-details {
  font-size: 1.2em;
  margin-bottom: 5px;
}
