/* Add your CSS styles here */
@import "~leaflet/dist/leaflet.css";
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto&display=swap');

/* Color Scheme */
:root {
  --background-color: #000033; /* dark blue */
  --text-color: #ffffff; /* white */
  --accent-color: #ffd700; /* gold */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
  color: var(--accent-color);
}

label { /* Add this selector */
  color: #333; /* dark text color */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(stars.png) repeat;
  animation: twinkling 2s infinite;
  z-index: -1; /* This will move the stars behind the other content */
}

@keyframes twinkling {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorChange {
  0% { stroke: #ff0000; }
  25% { stroke: #00ff00; }
  50% { stroke: #0000ff; }
  75% { stroke: #ff00ff; }
  100% { stroke: #ff0000; }
}

svg {
  animation: 
    rotate 20s linear infinite, 
    colorChange 10s ease-in-out infinite;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

button:hover {
  background: linear-gradient(to right, #ffad06, #ff105f);
  color: white;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
  border-radius: 12px;
}

input:focus {
  border: 3px solid #555;
}
